.home {
    padding-top: 10rem;
}

.home .secContainer {
    padding: 0 1.5 rem;
    text-align: center;
    display: grid;
    gap: 2rem;
}

.homeSpan {
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
}

.homeTitle {
    font-size: 30px;
    font-weight: 700;
    color: var(--black-color);
}

.btns {
    gap: 1.5rem;
    justify-content: center;

}

.btns .btn {
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: .5rem;

    &:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
    }
}

.btns .btn:nth-child(1) {
    background-color: var(--white-color);
    color: var(--text-color);

    &:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
    }
}

.btns .btn:nth-child(2) {

    &:hover {
        background-color: var(--white-color);
        color: var(--text-color);
    }
}

.homeImage {
    margin: auto;
    width: 50%;
    max-width: 200%;
    height: auto;
    border-radius: 5px;
}

@media screen and (min-width: 520px) {
    /* .home {
        padding-top: 15rem;
    } */

    .home .homeTitle {
        font-size: 40px;
    }

    .home .homeSpan {
        font-size: 18px;
    }

    .homeImage img{
        max-width: 80%;
    }

}

@media screen and (min-width: 768px) {
    .home {
        padding-top: 10rem;
    }

    .home .secContainer{
        gap: 2.5rem;
    }
    .home .homeTitle {
        font-size: 45px;
    }

    .home .homeSpan {
        font-size: 21px;
    }

    .btns{
        margin-top: 1rem;
    }
}
