/* Search.css */
.search {
    padding: 2rem 0;
}

.search .title {
    color: var(--black-color);
    font-size: 22px;
    padding: 1rem 0;
    text-align: center;
    font-weight: 700;
    line-height: 1.7rem;

    margin-bottom: 20px;
}

.searchdiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.searchdiv input[type="text"],
.searchdiv input[type="number"] {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    width: 100%;
    outline: none;

    &:focus {
        border: none;
        border: 1px solid var(--primary-color);
    }
}

.searchdiv .btn {
    justify-content: center;
    width: 100%;
    align-self: center;
    gap: .3rem;
    border-radius: 5px;
}

.search .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 15px;
}

@media screen and (min-width: 520px) {
    .search .title {
        font-size: 25px;
        padding: 2rem 0;
    }

    .searchdiv input {
        padding: 10px;
        font-weight: 600;
        color: var(--primary-color);
        border-radius: 3px;
    }

    .searchdiv .btn {
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: .3rem;
        font-size: 16px;
    }

    .search .icon {
        font-size: 18px;
    }

}


@media screen and (min-width: 770px) {
    .search .title {
        font-size: 30px;
        padding: 2rem 0;
    }

    .searchdiv {
        /* display: grid; */
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
        align-items: center;
        justify-content: center;
    }
}


@media screen and (min-width: 770px) {
    .search {
        width: 80%;
        margin: auto;
    }

    .searchdiv {
        /* display: grid; */
        grid-template-columns: repeat(5, 1fr);

    }
}