@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

:root {
  --primary-color: #7a63f1;
  --secondary-color: #ebe8fc;
  --text-color: #a3a3a3;
  --grey-color: #f4f4f4;
  --white-color: #f5f5f5;
  --black-color: #434344;

  --background-dark-color: #10121A;
  --background-dark-grey: #191D2B;
  --border-color: #2e344e;
  --background-light-color: #F1F1F1;
  --background-light-color-2: rgba(3, 127, 255, .3);
  --white-color: #FFF;
  --font-light-color: #a4acc4;
  --font-dark-color: #313131;
  --font-dark-color-2: #151515;
  --sidebar-dark-color: #191D2B;
  --scrollbar-bg-color: #383838;
  --scrollbar-thump-color: #6b6b6b;
  --scrollbar-track-color: #383838;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  /* font-size: 1.1rem; */
  color: var(--text-color);
  line-height: 1.4rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.primaryBtn {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  border: 1px solid var(--primary-color);
  transition: all .4s ease-in-out;

  &:hover {
    background: var(--secondary-color);
    /* background-color: transparent; */
    color: var(--black-color);
    border: 1px solid var(--primary-color);
  }
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section {
  padding: 4rem 0 2rem;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.icon {
  font-size: 25px;
  cursor: pointer;
}

.secTitle {
  color: var(--black-color);
  font-size: 20px;
}


/* 
body{
  background-color: var(--background-dark-color);
  color: var(--font-light-color);
} */

@media screen and (min-width: 940px) {
  .trending{
    margin-bottom: 3rem;
  }
  
  .section {
    padding: 6rem 0 4rem;
  }

  .container {
    width: 90%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .trending{
    margin-bottom: 3rem;
  }

  .container {
    width: 75%;
  }
}